
<%= render("lesli/wrappers/application-devise-simple", title:"Forgot your password?") do %>

    <%= form_for(
        resource, 
        as: resource_name, 
        url: user_password_path(),
        html: { class: "has-text-centered" },
        builder: LesliView::Forms::Builder
        ) do |form| %>

            <%= render "devise/shared/error_messages", resource: resource %>

            <%= form.field_control_email(
                :email, 
                icon: "person_search",
                label: "Enter your email address you use in Lesli. We'll send instructions for setting a new password to your email.") 
            %>

            <%= form.field_control_button("Send me reset password instructions", icon:"mail") %>

            <% if Lesli.config.security.dig(:allow_registration) %>
                <p class="account has-text-centered">
                    Still not registered? 
                    <%= link_to(new_user_registration_path, :class => "has-text-primary") do %>
                        <u><b>Create account</b></u>
                    <% end %>
                </p> 
            <% end %>
        <% end %>

    <%= render("devise/shared/links", login:true, password_reset:false, magic_link:false, otp:false) %>  
<% end %>
