<%#

Lesli

Copyright (c) 2025, Lesli Technologies, S. A.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program. If not, see http://www.gnu.org/licenses/.

Lesli · Ruby on Rails SaaS Development Framework.

Made with ♥ by LesliTech
Building a better future, one line of code at a time.

@contact  hello@lesli.tech
@website  https://www.lesli.tech
@license  GPLv3 http://www.gnu.org/licenses/gpl-3.0.en.html

// · ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~     ~·~
// · 
%>

<% 

# Check if demo mode is enable on initializer file
if Lesli.config.demo
    resource.email = Lesli.config.company[:email]
    resource.password = Lesli.config.security[:password]
end
%>

<%= render("devise/shared/application-devise", title:"Welcome to Lesli") do %>

    <%= form_for(
        resource, 
        as: resource_name, 
        url: user_session_path,
        builder: LesliView::Forms::Builder,
        data: { turbo: false }
        ) do |form| %>

        <% if Lesli.config.demo %>
            <%= render("devise/shared/demo") %>
        <% end %>

        <%= form.field_control_builder(
            label_html:form.label(:email, "E-mail address"), 
            control_html:form.email_field(:email, autofocus: true, autocomplete: "email", placeholder: Lesli.config.company[:email]),
            category: flash.first&.first,
            icon: "person"
        ) %>

        <%= form.field_control_builder(
            label_html:form.label(:password), 
            control_html:form.password_field(:password, autocomplete: "current-password", placeholder: "* * * * * *"),
            message_text: flash.first&.second,
            category: flash.first&.first,
            icon: "key"
        ) %>

        <% if params[:r].presence %>
            <%= tag(:input, :type => "hidden", :name => "user[redirect]", :value => params[:r]) %>
        <% end %>

        <div class="field mb-4 mt-5">
            <div class="control is-fullwidth">
                <button 
                    type="submit" 
                    class="button is-primary is-fullwidth mb-2">
                    Log in
                </button>
            </div>
        </div>

        <% if Lesli.config.security.dig(:allow_registration) %>
            <p class="account has-text-centered">
                Still not registered? 
                <%= link_to(new_user_registration_path, :class => "has-text-primary") do %>
                    <u><b>Create account</b></u>
                <% end %>
            </p> 
        <% end %>

    <% end %>

    <%= render("devise/shared/links", password_reset:true, magic_link:false, otp:false) %>  
<% end %>
